export AZURE_LOGIN_USER
AZURE_LOGIN_USER=

export AZURE_LOGIN_PASSWORD
AZURE_LOGIN_PASSWORD=

export AZURE_LOCATION
AZURE_LOCATION=

export AZURE_AD_APP_NAME
AZURE_AD_APP_NAME=

export AZURE_SUBSCRIPTION_NAME
AZURE_SUBSCRIPTION_NAME=
